doctype html
html
    head
        style
            include style.css
    body
        div.title
            | Hi, #{userName}!
            block content
        div.footer
            | Good luck, dear!
