extends container
block content
    div.main-style
        | Account deleted by admin.
        br
        | If you want to register again, follow the link below
        hr
        a(href=frontendURL) registration
