extends container
block content
    div.main-style
        |Your account has been created by #{adminName}.
        br
        |Update your password! Follow the link.
        hr
        a(href=`${frontendURL}?token=${token}`) click
